@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


:root {
  --normal: #000066;
  --hover: #2A2A7F;
  --pressed: #000055;
  --disabled: #AAAACC;
  --white: #FDFDFD;
  --black: #000000;
  --icon:#96E1DA;
  height: 100%;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Cabin", sans-serif;
  font-size: 24px;
  font-weight: 700;
  background-color: var(--white);
  color: var(--black);
}